{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ entry_title }}
{% endblock %}

{% block body %}


    {% if not_found %}
<!-- If not_found not None renders the message -->
        <h1>{{ not_found }}</h1>
    {% else %}
<!-- Using the safe filter to render the HTML code from entry variable -->
        {{ entry | safe }}
        <div class="edit_wrapper">
        <a href="{% url 'encyclopedia:edit_page' entry_title %}" class="edit_btn submit_btn">Edit entry</a>
    </div>
    {% endif %}
{% endblock %}